@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  box-sizing: border-box;
}
body
{
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0;
  font-family: "Abel", sans-serif;
}

.container
{
  width: 90vw;
  display: flex;
}

.panel
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 10px;
  color: #d3d3d3;
  cursor: pointer;
  flex: 0.5;
  margin: 3px;
  position: relative;
  transition: flex 1s ease;
}

.panel.active
{
  flex:5;
}
.panel h3
{
  font-size: 30px;
  position: absolute;
  bottom: 40px;
  left: 15px;
  margin: 0;
  opacity: 0;
}

.panel.active h3
{
  opacity: 1;
  transition: opacity .5s ease-in .5s;
}
 @media (max-width: 480px)
 {
  .panel:nth-of-type(4)
  {
    display: none;
  }
  .panel:nth-of-type(5)
  {
    display: none;
  }
  .container{
    width: 100vw;

  }
 }