@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
  }

body
{
    background-color: #8f9779;
    text-align: center;
}

.title
{
    font-size: 30px;
    position: absoulte;
    font-family: "Abel", sans-serif;
    padding: 15px;

}
.search
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}
.loading
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}
.expanding
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}
.sound
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}
.navigation
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}
.LandingPage
{
    font-size: 20px;
    position: relative;
    height: 30px;
    font-family: "Abel", sans-serif;
    padding: 30px;
}

.btn
{
        background-size: 20px;

        background-color: #d3d3d3;
        padding: .5rem;
        border-radius: 10px;
        font-size: 2.0rem;
        color: #d3d3d3;
        cursor: pointer;
        margin: .2rem;
        position: center;
        transition: flex 1s ease;
        border-style: outset;
        border-width: .3rem;
        border-color: #d3d3d3;
        font-family: "Abel", sans-serif;
        width: 200px;
        align-items: center;
}
