@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
body
{
    font-family: "Kode Mono", monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #8f9779;

}

.bg
{
    height: 75vh;
    width: 100vw;
    position:absolute;
    z-index: -1;
    background-image: url("images/finance.JPG");
    background-position: center;
    background-size: original;
    background-repeat: no-repeat;
    filter: blur(30px)
}
.loading-text
{
    font-size: 40px;
    color: #d3d3d3;
    opacity: 1;
    border: 2;
    border-style: ridge;
    border-color: #d3d3d3;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;

  }
  a:hover {
    background-color: #d3d3d3;
    color: black;
    opacity: .7;
  }

  .Home {
    padding: 15px;
    background-color: #d3d3d3;
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .next {
    padding: 15px;
    background-color: #d3d3d3;
    color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
  }
