@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
body
{
    font-family: "Kode Mono", monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text
{
    font-size: 40px;
}


