
*
{
    box-sizing: border-box;
}
body
{
    background-color: #8f9779;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0;

}
.search
{
   height: 50px;
   position: relative;

}
.search .btn
{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 24px;
    background-color:  #d3d3d3;
    border: 2;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 1s ease;
}
.search .input
{
 background-color:  #d3d3d3;
 boarder: 2;
 font-size: 18px;
 height: 50px;
 width: 50px;
 padding: 15px;
 transition: width 1s ease;
}
.search .input:focus
{
    outline: none;
}

.search.active .input
{
    width: 200px;

}
.search.active .btn
{
    transform: translateX(198px);
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;

  }
  a:hover {
    background-color: #d3d3d3;
    color: black;
    opacity: .7;
  }

  .Home {
    padding: 15px;
    background-color: #d3d3d3;
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .next {
    padding: 15px;
    background-color: #d3d3d3;
    color: black;
    position: absolute;
    top: 0px;
    right: 0px;
  }
