@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body
{
    background-color: #8f9779;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0;

}


.btn
{
        background-size: cover;
        background-position: center;
        background-color: #d3d3d3;
        padding: 2.0rem;
        border-radius: 10px;
        font-size: 2.0rem;
        color: #8f9779;
        cursor: pointer;
        flex: 0.5;
        margin: .6rem;
        position: relative;
        transition: flex 1s ease;
        border-style: outset;
        border-width: .3rem;
        border-color: #808080;
        font-family: "Abel", sans-serif;
}

.btn:hover
{
    opacity: .85;
    border: inset;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: outset;

  }
  a:hover {
    background-color: #d3d3d3;
    color: black;
    opacity: .7;
    border: inset;
  }

  .Home {
    padding: 10px;
    background-color: #d3d3d3;
    color: #8f9779;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 10px;
    border-color: #808080;

  }

  .next {
    padding: 10px;
    background-color: #d3d3d3;
    color: #8f9779;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    border-color: #808080;
  }
